#main
	padding 0 0 260px
	background: #000 url(../img/backs/course-main.png) no-repeat center
	background-size: cover
	color:  #fff
	text-align center
	margin-bottom: -60px
	position relative
	z-index 40
	@media screen and (max-width 1199px)
		padding  0 0 160px
	@media screen and (max-width 560px)
		padding 0 0 140px
		margin-bottom: -40px
	@media screen and (max-width 386px)
		padding 0 0 100px
		margin-bottom: -25px
		background-image: url(../img/backs/course-main-mob.png)
.main
	&-pre
		font-size: 28px
		@media screen and (max-width 991px)
			font-size: 24px
		@media screen and (max-width 386px)
			font-size: 18px
	&-title
		font-family: S
		font-size: 80px
		font-weight: bold
		text-transform uppercase
		color #C6F9DC
		margin 30px 0 35px
		line-height: 1.1
		@media screen and (max-width 1199px)
			font-size: 70px
		@media screen and (max-width 991px)
			font-size: 60px
		@media screen and (max-width 767px)
			font-size: 50px
		@media screen and (max-width 560px)
			font-size: 40px
		@media screen and (max-width 386px)
			font-size: 30px
	&-subtitle
		font-size: 28px
		margin: 0 auto 40px
		width 100%
		max-width 750px
		span
			font-weight: bold
		@media screen and (max-width 991px)
			font-size: 24px
		@media screen and (max-width 386px)
			font-size: 18px