#prices
	padding 90px 0
	@media screen and (max-width 650px)
		padding 60px 0 30px
.packet
	border-radius: 15px
	border: 2px solid #C77E55
	padding 20px
	margin: 0 auto 50px
	width 100%
	max-width 360px
	@media screen and (max-width 560px)
		margin-bottom: 35px
	&-head
		h3
			font-family: 'FreeSetExtraCTTRegular',sans-serif;
			font-size: 24px;
			color: #77ceb4;
			text-align center
			line-height: 1.2
			margin-bottom: 30px
.cost
	text-align center
	font-size: 32px;
	font-weight: bold;
	text-transform uppercase
	margin-top 20px
	&-full
		color #000
	&-sale
		color: #c77e55;
		small
			display block
			font-size: 16px
			text-transform none
			color #000
			font-weight: normal
.button-wrapper
	text-align center