#plan
	padding 90px 0
.day
	border-radius: 15px
	border: 2px solid #C77E55
	padding 115px 20px 20px 20px
	position relative
	min-height 570px
	margin-bottom: 30px
	&-num
		position absolute
		font-family: FSE
		font-size: 28px
		color #77CEB4
		top 20px
		right 20px
	&-title
		font-size: 26px
		font-weight: bold
		color #C77E55
		min-height 90px
		display flex
		align-items: center
	&-text
		margin: 10px 0 15px
