#author
	padding 60px 0 90px
.general-title-author
	margin-top: 60px
.author-item
	border-radius: 15px
	background-color: #77CEB4
	padding 60px 35px
	color #fff
	font-weight: 900
	margin-top: 80px
	line-height: 1.5