#revs
	padding 90px 0
	background-color: #CCEDE3
.revs-slider-text
	width 88%
	margin 0 auto
.slick-list
	border-radius: 15px
.text-rev-img
	height: 182px
	width 480px
	background-color #fff
	border-radius: 15px
	display block
	margin: 0 auto
.slick-next, .slick-prev
	&:before
		content: none
	width 52px
	height: 52px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.slick-next
	background-image: url(../img/icons/next.svg)
	right: -65px
	&:focus
	&:hover
		background-image: url(../img/icons/next.svg)
.slick-prev
	background-image: url(../img/icons/prev.svg)
	left -65px
	&:focus
	&:hover
		background-image: url(../img/icons/prev.svg)