I = 'Inter', sans-serif;
S = 'Segoe', sans-serif;

@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/InterRegular.eot');
	src: url('../fonts/InterRegular.eot') format('embedded-opentype'),url('../fonts/InterRegular.woff2') format('woff2'),url('../fonts/InterRegular.woff') format('woff'),url('../fonts/InterRegular.ttf') format('truetype'),url('../fonts/InterRegular.svg#InterRegular') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/InterBold.eot');
	src: url('../fonts/InterBold.eot') format('embedded-opentype'),url('../fonts/InterBold.woff2') format('woff2'),url('../fonts/InterBold.woff') format('woff'),url('../fonts/InterBold.ttf') format('truetype'),url('../fonts/InterBold.svg#InterBold') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/InterSemibold.eot');
	src: url('../fonts/InterSemibold.eot') format('embedded-opentype'),url('../fonts/InterSemibold.woff2') format('woff2'),url('../fonts/InterSemibold.woff') format('woff'),url('../fonts/InterSemibold.ttf') format('truetype'),url('../fonts/InterSemibold.svg#InterSemibold') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/InterBlack.eot');
	src: url('../fonts/InterBlack.eot') format('embedded-opentype'),url('../fonts/InterBlack.woff2') format('woff2'),url('../fonts/InterBlack.woff') format('woff'),url('../fonts/InterBlack.ttf') format('truetype'),url('../fonts/InterBlack.svg#InterBlack') format('svg');
@font-face
	font-family: 'Segoe';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Segoe.eot');
	src: url('../fonts/Segoe.eot') format('embedded-opentype'),url('../fonts/Segoe.woff2') format('woff2'),url('../fonts/Segoe.woff') format('woff'),url('../fonts/Segoe.ttf') format('truetype'),url('../fonts/Segoe.svg#Segoe') format('svg');
@font-face
	font-family: 'Segoe';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SegoeBold.eot');
	src: url('../fonts/SegoeBold.eot') format('embedded-opentype'),url('../fonts/SegoeBold.woff2') format('woff2'),url('../fonts/SegoeBold.woff') format('woff'),url('../fonts/SegoeBold.ttf') format('truetype'),url('../fonts/SegoeBold.svg#SegoeBold') format('svg');
@font-face
	font-family: 'Segoe';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SegoeBlack.eot');
	src: url('../fonts/SegoeBlack.eot') format('embedded-opentype'),url('../fonts/SegoeBlack.woff2') format('woff2'),url('../fonts/SegoeBlack.woff') format('woff'),url('../fonts/SegoeBlack.ttf') format('truetype'),url('../fonts/SegoeBlack.svg#SegoeBlack') format('svg');