I = 'Inter', sans-serif;
FSE = 'FreeSetExtraCTTRegular', sans-serif;

@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/InterRegular.eot');
	src: url('../fonts/InterRegular.eot') format('embedded-opentype'),url('../fonts/InterRegular.woff2') format('woff2'),url('../fonts/InterRegular.woff') format('woff'),url('../fonts/InterRegular.ttf') format('truetype'),url('../fonts/InterRegular.svg#InterRegular') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/InterBold.eot');
	src: url('../fonts/InterBold.eot') format('embedded-opentype'),url('../fonts/InterBold.woff2') format('woff2'),url('../fonts/InterBold.woff') format('woff'),url('../fonts/InterBold.ttf') format('truetype'),url('../fonts/InterBold.svg#InterBold') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/InterSemibold.eot');
	src: url('../fonts/InterSemibold.eot') format('embedded-opentype'),url('../fonts/InterSemibold.woff2') format('woff2'),url('../fonts/InterSemibold.woff') format('woff'),url('../fonts/InterSemibold.ttf') format('truetype'),url('../fonts/InterSemibold.svg#InterSemibold') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/InterBlack.eot');
	src: url('../fonts/InterBlack.eot') format('embedded-opentype'),url('../fonts/InterBlack.woff2') format('woff2'),url('../fonts/InterBlack.woff') format('woff'),url('../fonts/InterBlack.ttf') format('truetype'),url('../fonts/InterBlack.svg#InterBlack') format('svg');
@font-face
	font-family: 'FreeSetExtraCTTRegular';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/FreeSetExtraCTTRegular.eot');
	src: url('../fonts/FreeSetExtraCTTRegular.eot') format('embedded-opentype'),url('../fonts/FreeSetExtraCTTRegular.woff2') format('woff2'),url('../fonts/FreeSetExtraCTTRegular.woff') format('woff'),url('../fonts/FreeSetExtraCTTRegular.ttf') format('truetype'),url('../fonts/FreeSetExtraCTTRegular.svg#FreeSetExtraCTTRegular') format('svg');