header
	overflow hidden
	padding 10px 0
	margin-bottom: 40px
.header-logo
	float left
	width 178px
	@media screen and (max-width 991px)
		float: none
	@media screen and (max-width 550px)
		width 65px
.header-menu
	float: right
	text-align center
	margin-top: 18px
	li
		display inline-block
		list-style: none
		margin-left: 30px
		@media screen and (max-width 1199px)
			margin-left: 10px
		@media screen and (max-width 991px)
			text-align left
			display block
		&:first-child
			margin-left: 0
		a
			display block
			color #fff
			@media screen and (max-width 1199px)
				padding 7px 26px
			@media screen and (max-width 991px)
				font-size: 15px
				border-radius: 0
				border: none
				display inline-block
				width auto
			&:focus
			&:hover
				color #fff
// .fixed
// 	position fixed