section#main
	.container
		include ../base/1-header
		p.main-pre Онлайн практикум
		h1.main-title
			span Проективный метод современной психологии
			| Метафорические ассоциативные карты”
		p.main-date
			span 11.11.24 - 11.11.24
			span 19:00
		.main-text
			+img('', 'img/icons/main.svg', 'Блокнот')
			p Примите участие в&nbsp;5-ти дневном практикуме и 
				span получите сертификат 
		h4.general-subtitle Зарегистрируйтесь прямо сейчас и получите 
			span Авторскую колоду метафорических карт
		+b('', href, 'Принять участие')