mixin d(n, h4, p, ...items)
	.col-md-4
		.day
			p.day-num='/день '+n
			h4.day-title!=h4
			p.day-text!=p
			ul.general-list
				each item in items
					li!=item

section#plan
	.container
		+gt('', 'Что будет в программе')
		.row
			+d('1', 'Основы МАК', 'Введение в&nbsp;метафорические ассоциативные карты, их ключевое значение в&nbsp;психологической практике.', 'Почему МАК идеально подходят для&nbsp;начинающих психологов. ', 'Интеграция МАК в&nbsp;профессиональную деятельность и их преимуществ перед другими методами. ', 'Стратегии для&nbsp;масштабирования дохода с&nbsp;помощью МАК.')
			+d('2', 'МАК и отношения', 'Анализ отношений в&nbsp;паре через МАК,  исследование различных типов взаимоотношений и методику работы с&nbsp;"неподходящими" партнерами.', 'Эмоциональная зависимость и влияние неразрешенных прошлых отношений на&nbsp;способность формировать новые связи, проработка с&nbsp;помощью МАК.', 'Онлайн сессия по&nbsp;запросу участников практикума на&nbsp;тему взаимоотношений.')
			+d('3', 'Анализ и коррекция финансового состояния через&nbsp;МАК', 'Практическое применение МАК для&nbsp;исследования личного отношения к&nbsp;деньгам и определения путей улучшения финансового благополучия.', 'Обзор методик, направленных на&nbsp;выявление, и преодоление финансовых ограничений, и рассмотрение влияния личностных аспектов на&nbsp;финансовую успешность.', 'Демонстрационная сессия по&nbsp;запросу для&nbsp;решения финансовых проблем участников практикума.')
		.row
			+d('4', 'Взаимосвязь психологического состояния и здоровья', 'Использование МАК для&nbsp;анализа и коррекции здоровья на&nbsp;основе понимания связи между психоэмоциональным состоянием и физическим здоровьем. Методики направлены на&nbsp;выявление психосоматических причин заболеваний и разработку подходов к&nbsp;их преодолению.', 'Как внутренние конфликты и эмоциональные блоки могут влиять на&nbsp;физическое состояние.', 'Демонстрационная сессия с&nbsp;помощью МАК по работе с&nbsp;психоэмоциональным эквивалентом заболевания для&nbsp;участников практикума.')
			+d('5', 'Поиск жизненного предназначения с&nbsp;МАК', 'Глубокое погружение в&nbsp;тему жизненного предназначения, призвания и миссии через&nbsp;МАК.', 'Анализ колод, нацеленных на&nbsp;выявление жизненного пути участника, и методик для&nbsp;определения и следования своему предназначению. ', 'Роль семейной истории в выборе жизненного пути.', 'Демонстрационная сессия по&nbsp;индивидуальным запросам на&nbsp;тему предназначения.')