section#video
	.container
		.video-wrapper.video-wrapper-video
			+img('', 'img/images/video.png', 'Видео')
		h4.general-subtitle Зарегистрируйтесь прямо сейчас и получите 
			span Авторскую колоду метафорических карт
		+b('', href, 'Принять участие')