section#for
	.container
		+gt('', 'Почему не&nbsp;только психологам необходимо изучить метод современной проективной психологии - метафорические ассоциативные карты?')
		.row
			.col-md-4
				+fi('','for','1', 'Не&nbsp;требуют профильного психологического образования для&nbsp;использования.')
			.col-md-4
				+fi('','for','2', 'Подходят для&nbsp;решения острых, сложных, на&nbsp;первый взгляд нерешаемых, вопросов в&nbsp;сфере отношений, финансов и предназначения.')
			.col-md-4
				+fi('','for','3', 'Экологично извлекают необходимую информацию, не&nbsp;насилуя психику.')
		.row
			.col-md-4
				+fi('','for','4', 'Подходят для&bsp;выстраивания доверительных отношений и коммуникаций с&bsp;детьми, через ассоциации вы узнаете о&bsp;своем ребенке больше, чем через “разговор по&bsp;душам”.')
			.col-md-4
				+fi('','for','5', 'Возможность проводить самоанализ и находить ответы в&nbsp;сложных кризисных ситуациях.')
			.col-md-4
				+fi('','for','6', 'Возможность начать консультационную деятельность и в&nbsp;сжатые сроки выйти на&nbsp;достойный доход.')
		h4.general-subtitle Зарегистрируйтесь прямо сейчас и получите 
			span Авторскую колоду метафорических карт
		+b('', href, 'Зарегистрироваться')