section#why
	.container
		+gt('', 'Почему психологам необходимо владеть метафорическими ассоциативными картами?')
		.row
			.col-md-4
				+fi('for-item-deepgreen', 'why','1','Данный проективный метод не&nbsp;содержит в&nbsp;себе строгих норм и ограничений, направлен на&nbsp;качественный анализ.')
			.col-md-4
				+fi('for-item-deepgreen', 'why','2','Отличительной особенностью является максимально глубокое и целостное изучение личности, выявление скрытых мотивов, внутриличностных конфликтов и переживаний.')
			.col-md-4
				+fi('for-item-deepgreen', 'why','3','Исключение ошибок в&nbsp;работе, так как клиент самостоятельно извлекает всю информацию через ассоциативный ряд.')
		.row
			.col-md-4.col-md-offset-4
				+fi('for-item-deepgreen', 'why','4','Быстрый выход на&nbsp;результат, без&nbsp;долгих сеансов психотерапии, изматывающих клиента и психолога.')
			.col-md-4
				+fi('for-item-deepgreen', 'why','5','Выстраивают крепкие и долгосрочные контакты с&nbsp;клиентом.')
		h4.general-subtitle Зарегистрируйтесь прямо сейчас и получите 
			span Авторскую колоду метафорических карт
		+b('', href, 'Зарегистрироваться')