section#author
	.container
		.row
			.col-md-5.col-md-push-7
				+img('author-img', 'img/images/janna.png', 'Жанна АБрамова')
			.col-md-7.col-md-pull-5
				+gt('', 'Жанна Абрамова')
				ul.general-list
					li
						span Психотерапевт, клинический психолог
					li
						span Более 15&nbsp;лет
						|  практической работы
					li
						span Более 10&nbsp;000
						|  выпускников окончивших курсы и обучающие программы
					li
						span Эксперт
						|  федеральных каналов
					li
						span Ведущий преподаватель
						|  “Института современной психологии”
					li
						span Коуч, тренер
						| обучающих и трансформационных программ
				p.author-item SKOLKOVO TECH&nbsp;&&nbsp;INNOVATION Awards 2023 в&nbsp;номинации: «Лучший бизнес расстановщик года».