section#main
	.container
		include ../base/1-header
		.content
			p.main-pre Программа профессиональной переподготовки с&nbsp;выдачей диплома
			h1.main-title МЕТАФОРИЧЕСКИЕ АССОЦИАТИВНЫЕ КАРТЫ
			h2.main-subtitle Забронируйте место на&nbsp;курсе сегодня и получите грант на&nbsp;обучение 50&nbsp;000&nbsp;рублей.
			+b('', href, 'Выбрать тариф')