section#prices
	.container
		h3.general-title
			span Стоимость курса
		.packets
			.packet
				.packet-head
					h4.packet-head-title 3 месяца
						small Ускоренное обучение
				.packet-body
					p.cost.cost-sale 99&nbsp;000&nbsp;р.
					p.cost-text с&nbsp;учетом гранта
					p.cost.cost-full вместо 
						span 149&nbsp;000&nbsp;р.
					+b('button-cost', '', 'Забронировать место')
			.packet
				.packet-head
					h4.packet-head-title 6 месяцев
						small Базовый
				.packet-body
					p.cost.cost-sale 199&nbsp;000&nbsp;р.
					p.cost-text с&nbsp;учетом гранта
					p.cost.cost-full вместо 
						span 249&nbsp;000&nbsp;р.
					+b('button-cost', '', 'Забронировать место')
			p.packet-or или
		p.prices-text Минимальный платеж по&nbsp;рассрочке 
			span от 4125 руб\мес
		.instalment
			.instalment-col.instalment-col-1
				h4.instalment-title Рассрочка от&nbsp;банка партнера
				ul.instalment-list
					li На&nbsp;3, 6, 12 или 24 месяцев
					li Без&nbsp;первоначального взноса
					li Без&nbsp;переплат
			.instalment-col.instalment-col-2
				+img('instalment-img', 'img/images/t.png', 'Тинькоф')
				.instalment-text
					p Рассрочка доступна также гражданам 
						span Беларуси, Казахстана, Узбекистана и Кыргызстана